parameters:
    token: ~ # Your bot token
    commandPrefix: "!" # Commands prefix
    welcome: # Will send a welcome message with reactions to auto-assign roles to the new users.
        enabled: false
        message: Hey ! Welcome to our discord server, please select a role betweens these ones: \n :computer: Geek \n :video_game: Gamer
        success_message: ✔ Role %role% added !
        success_removed_message: ✔ Role %role% removed !
        error_message: ❌ Cannot add %role% role ! please contact an administrator.
        error_removed_message: ❌ Cannot remove role %role% ! please contact an administrator.
        reactions:
            computer: # A name for the reaction, can be what you want.
                role: "000000000"  # The role ID to apply, Be careful and use double quote "" and do not use role ID as an integer
                emoji: "💻" # Emoji you want to show (in unicode for normal emoji and use emoji ID for custom emoji)
            video_game:
                role : "1111111"
                emoji: "🎮"
            security:
                role: "2222222"
                emoji: "379722463313002516" # Custom emoji ID
channels: # Configurations of channels
    welcome_0:
        message_restriction:
            regexp: "(?:Hello|Hi|Hey)"
            error_message: Oh wait, start to say hi first 😏 # You can use %messageContent% to show the message user sent
    test_0:
        commands:
            chuck:
                enabled: false
            boobs:
                enabled: false
            qwant:
                enabled: false
            quote:
                enabled: false
                replied_label: replied to you
            cat:
                enabled: false
                token: YourToken # Add your API token here, want to have one ? check this out : http:#thecatapi.com/api-key-registration.html
                loading_image: "https:#media.giphy.com/media/3o7WTJ0yHFA2GzOA2k/giphy.gif"
                lang:
                  waiting: Please wait while trying to find a cat ...
                  error: An error occured when trying to find a cat :'(
            weather:
                enabled: false
                token: YourToken # Add your API token here, want to have one ? check this out : https:#openweathermap.org/appid#get
                default_country_code: en
                unit: metric  # Can be metric (meter/seconds and °C), imperial(miles/seconds and °F) or Kelvin (meter/seconds and K)
                datetime_format: fr-FR # DateTime format, should be a ISO code (en-GB, en-US, fr-FR ...)
                lang:
                  title: Weather
                  city_missing: There is no city, how can i help you ?
                  country_code_missing: There is no country code, please add an default ISO country code like 'fr', 'us'.. in your config file or in your request
                  unit_missing: There is no unit, please add one in your config file, allowed : metric or imperial
                  error: An error occured, please report this to an admin
                  not_found: This city was not found, please try another one.
            bonjour:
                enabled: false
            stats:
                enabled: false
                lang:
                    error: Cannot fetch stats from the database, please check your configuration.
                    description: What's the most used commands ? here is the result ..
                    title: Commands statistics
        schedules:
            - type: message
              enabled: false
              cron_rule: "*/10 * * * * *" # Cron-task rule based
              arguments:
                - "Send this message every 10 minutes inside the Welcome channel" # Only the first argument is used with this schedule
            - type: twitter
              enabled: false
              cron_rule: "* */5 * * * *"
              arguments:
                api_key: <api_token>
                api_secret_key: <api_secret_token>
                access_token: <access_token>
                access_token_secret: <access_token_secret>
                query:
                    type: account
                    values:
                      - nextinpact
                      - korben_rss
                    restriction:
                        allow: ~
                        deny: ~
            - type: twitter
              enabled: false
              cron_rule: "* */5 * * * *"
              arguments:
                api_key: <api_token>
                api_secret_key: <api_secret_token>
                access_token: <access_token>
                access_token_secret: <access_token_secret>
                query:
                    type: tweet
                    values:
                      - php # Search every tweet which contains PHP or java word
                      - java
                    restriction:
                        allow: ~
                        deny: javascript
